::ng-deep .mat-mdc-form-field-bottom-align::before {
    content: "";
    display: inherit !important;
    height: inherit !important;
}

::ng-deep .mat-mdc-form-field-error {
    margin-top: 0 !important;
    font-size: 13px;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
    position: relative !important;
}

.mat-mdc-form-field-error {
    margin-top: 5px !important;
    font-size: 13px;
}

.mb_28 {
    margin-bottom: 28px;
}