.cancel_modal button {
    background: transparent;
    border: none;
    font-size: 28px !important;
    line-height: 25px;
}
.modal-header h4 {
    margin-bottom: 0;
}
.modal .modal-header {
    padding-bottom: 10px;
    border-bottom:none !important;
}
.modal-body p {
    font-size: 17px;
    text-align: center;
    padding: 0 10px;
    margin: 10px 0px;
}
.icon_img {
    text-align: center;
}
.icon_img i {
    font-size: 65px;
    margin-top: 20px;
    color: #f9ad19;
}