.addContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 1200px;
    height: 600px;
}

.readonly-checkbox {
    pointer-events: none;
    // opacity: 0.6; /* Optional: makes it look disabled */
  }