<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'View Deliveries'" [items]="['Deliveries']"
                [active_item]="'View'"></app-breadcrumb>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="materialTableHeader">
                        <div class="left">
                            <ul class="header-buttons-left ms-0">
                                <li class="tbl-title">
                                    <h2>Deliveries</h2>
                                </li>
                                <!-- <li class="tbl-search-box">
                                    <label for="search-input"><i class="material-icons search-icon">search</i></label>
                                    <input placeholder="Search" type="text" #filter class="browser-default search-field"
                                        aria-label="Search box">
                                </li> -->
                                <li class="tbl-search-box mt-4">
                                    <div class="date-picker-main">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Search Date</mat-label>
                                            <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" placeholder="Choose a date">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                       
                                    </div>
                                </li>&nbsp;&nbsp;
                                <button mat-raised-button color="accent" (click)="resetFilter()">Reset Filter</button>
                            </ul>
                        </div>

                        <div class="right">
                            <ul class="tbl-export-btn">
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="View Change">
                                        <button mat-mini-fab color="primary" (click)="toggleView()">
                                            <mat-icon
                                                class="col-white">@if(!isGridView){view_column}@else{view_list}</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="ADD">
                                        <button mat-mini-fab color="primary" (click)="addNew()">
                                            <mat-icon class="col-white">add</mat-icon>
                                        </button>
                                    </div>
                                </li>
                                <!-- <li class="tbl-header-btn">
                                    <div class="m-l-10" matTooltip="REFRESH">
                                        <button mat-mini-fab color="primary" (click)="refresh()">
                                            <mat-icon class="col-white">refresh</mat-icon>
                                        </button>
                                    </div>
                                </li> -->
                                <li class="tbl-header-btn">
                                    <div class="m-l-10" [hidden]=!selection.hasValue() matTooltip="DELETE">
                                        <!-- <button mat-mini-fab color="warn" (click)="removeSelectedRows()">
                                            <mat-icon class="col-white">delete
                                            </mat-icon>
                                        </button> -->
                                    </div>
                                </li>
                                <li>
                                    <div class="export-button m-l-10" matTooltip="XLSX">
                                        <!-- <img src="assets/images/icons/xlsx.png" alt="" (click)="exportExcel()" /> -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="body overflow-auto">
                        <div class="responsive_table" [style.display]="!isGridView ? 'none' : 'block'">
                            <div class="col-md-12 d-flex justify-content-between" cdkDropListGroup>
                                <div *ngFor="let stage of stages; let i = index; trackBy: trackByStage"
                                    class="col-md-2 kanban-card">
                                    <div class="d-flex justify-content-between align-items-center mb-2 header">
                                        <h2 *ngIf="editingStageIndex !== i">{{ stage }}</h2>
                  
                                        <i class="fa fa-plus cursor-pointer" (click)="startEdit(i)"></i>
                                    </div>
                        
                                    <div cdkDropList [cdkDropListData]="getValueForLoop(dataSource.filteredData, stage)"
                                        class="example-list" [cdkDropListConnectedTo]="getConnectedLists()"
                                        (cdkDropListDropped)="drop($event, stage)">
                                        <div *ngFor="let item of getValueForLoop(dataSource.filteredData, stage); trackBy: trackByItem" cdkDrag>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <div>
                                                            <h3 class="inner-item">{{item.name}}</h3>
                                                        </div>
                                                        <div>
                                                            <h3 class="inner-item">Sender:</h3>
                                                            <p>{{item.sender.name}}</p>
                                                        </div>
                                                        <div>
                                                            <h3 class="inner-item">Receiver:</h3>
                                                            <p>{{item.receiver.name}}</p>
                                                        </div>
                                                        <div>
                                                            <p>{{item. delivery_date}}</p>
                                                        </div>
                                                        <div>
                                                            <p>{{item. category_id.name}}</p>
                                                        </div>                                               
                                                    </div>
                                                    <img [src]="userInfo.profile_image.changingThisBreaksApplicationSecurity" class="img-thumbnail h-100" alt="user image">
                                                </div>
                                        </div>
                                    </div>
                                </div>
                        
                            </div>
                        </div>

                        <div class="responsive_table" [style]="{'display': isGridView ? 'none' : 'block'}">
                            <table mat-table [dataSource]="dataSource" matSort class="mat-cell advance-table">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                        <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox> -->
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                                    <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
                                </ng-container>
                                <!-- <ng-container matColumnDef="img">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef
                                        [ngClass]="'tbl-col-width-per-7'"> Image
                                    </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-7"><span
                                            class="mobile-label">Image:</span>
                                        <img [src]="row.img" />
                                    </mat-cell>
                                </ng-container> -->
                                <ng-container matColumnDef="number">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Number</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <span
                                            class="mobile-label">Name:</span>{{row.name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="sender_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sender's Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row"><span
                                            class="mobile-label">Email:</span>{{row.sender.name}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="receiver_name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Receiver's Name</mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span  class="mobile-label">Email:</span>{{row.receiver.name}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="type">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Type
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span  class="mobile-label">Email:</span>{{row.courier_type}}
                                    </mat-cell>                              
                                </ng-container>
                                <ng-container matColumnDef="registration_date">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</mat-header-cell>
                                    <mat-cell *matCellDef="let row"> <span class="mobile-label">Date:</span>
                                        {{row.delivery_date | date: 'MM/dd/yyyy, HH:mm:ss' }}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="responsible_user">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Responsible User
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span  class="mobile-label">Email:</span>{{row.assigned_user.name}}
                                    </mat-cell>      
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <span  class="mobile-label">Email:</span>{{row.stage.name}}
                                    </mat-cell>      
                                </ng-container>
                                
                                <!-- actions -->
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell class="pr-0" *matHeaderCellDef>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                                        <button mat-icon-button  (click)="editCall(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button  (click)="deleteItem(row)" class="tbl-action-btn">
                                            <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="sales_order">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Create  Sales Order </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button mat-raised-button color="primary" (click)="createSalesOrder(row.id)">Sales Order</button>
                                    </mat-cell>      
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                <mat-row *matRowDef="let row; columns: displayedColumns;"  [style.cursor]="'pointer'" matRipple> </mat-row>
                            </table>

                                <!-- Paginator -->
                                @if(dataSource?.data?.length != 0){ 
                                      <mat-paginator #paginator [length]="dataSource?.data?.length || 0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"> </mat-paginator>
                                }

                                @if(dataSource?.data?.length == 0){
                                     <div class="no-results">
                                         No results
                                     </div>
                                 }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>